<div class="container">
  <div class="messages">
    <p *ngFor="let m of messages">
      {{ m | json }}
    </p>
  </div>

  <form class="messageBox" #messageForm="ngForm" (ngSubmit)="sendMessage()">
    <mat-form-field class="messageField">
      <input
        name="message"
        matInput
        #messageCtrl="ngModel"
        [(ngModel)]="message"
        required
      />
      <mat-error *ngIf="messageCtrl.hasError('required')">
        Message body can not be empty.
      </mat-error>
    </mat-form-field>
    <div>
      <button
        mat-icon-button
        type="submit"
        [disabled]="messageForm.invalid || messageForm.pending"
      >
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </form>
</div>
