# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: dgs-subscription-sse

on:
  push:
    paths:
      - "dgs-subscription-sse/**"
    branches: [ master ]
  pull_request:
    paths:
      - "dgs-subscription-sse/**"
    types:
      - opened
      - synchronize
      - reopened

jobs:
  
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Build with Gradle
      run: |
        cd dgs-subscription-sse
        chmod +x gradlew
        ./gradlew build 
  
